In [5]:
import pandas as pd

# 读取CSV文件的前5行数据
df = pd.read_csv(r'C:\\baidunetdiskdownload\\zoopla-data-gen1-sale.csv', encoding='utf-8', nrows=5)

# 显示数据
print(df)

   listing_id  property_id            ttwa11nm plan_no
0         666     14389490          Manchester  SJ7293
1         798     12915131           Leicester  SP4194
2         867     13138718                Rhyl  SJ1258
3        1612     17262592              London  TQ2391
4        1622     20816511  Pembroke and Tenby  SN1607